
    @import url('https://fonts.googleapis.com/css?family=Raleway');
    font-family: 'Raleway', sans-serif;
    
    body {
        background-color:#FFFFFF(--secondary-color);
        color:#4BA87D(--primary-color);
        margin: 0;
      }

      header {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        padding: 20px;
      }
      .navigation {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        
        list-style: none;
        margin: 0; 
        background: deepskyblue;
      }
      
      .navigation a {
        text-decoration: none;
        display: block;
        padding: 1em;
        color: #4BA87D;
      }
      
      .navigation a:hover {
        background: #FFFFFF;
      }
      
      @media all and (max-width: 800px) {
        .navigation {
          justify-content: space-around;
        }
      }
      
      @media all and (max-width: 600px) {
        .navigation {
          flex-flow: column wrap;
          padding: 0;
        }
        .navigation a { 
          text-align: center; 
          padding: 10px;
          border-top: 1px solid rgba(255, 255, 255,0.3); 
          border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
        }
        .navigation li:last-of-type a {
          border-bottom: none;
        }
      }