
    @import url('https://fonts.googleapis.com/css?family=Raleway');
    font-family: 'Raleway', sans-serif;
    
    body {
        background-color:#FFFFFF(--secondary-color);
        color:#4BA87D(--primary-color);
        margin: 0;
      }

      header {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        padding: 20px;
      }
